source https://nuget.org/api/v2
framework >= net45

nuget Argu 3.2.0
nuget DotNet.Contracts 1.10.10126.4
nuget DotParser 1.0.6
nuget FSharp.Core 4.0.0.1
nuget FSharpx.Collections 1.15.2
nuget FSharpx.Collections.Experimental 1.15.2
nuget Mono.Addins 1.3.2
nuget NUnitTestAdapter 2.1.1
nuget YC.PrettyPrinter 0.0.5
nuget YC.QuickGraph 3.7.3
nuget YC.SDK.Runtime 0.2.0.0-alpha1 alpha
nuget YC.Utils.SourceText 0.3.0.1

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2